*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: "Baloo Da 2", cursive;
}
html{
    font-size: 62.5%;
}
body{
    scroll-behavior: smooth;
}

/* Section 1 */
.section-1{
    width: 100%;
    height: 65vh;
    background: linear-gradient(to top, rgba(38,38,38, 0.7),rgba(38,38,38, 0.6)),
    url(../../img/bg.jpg) center no-repeat;
    background-size: cover;
}
.navbar-wrapper{
    width: 100%;
    height: 8rem;
    border-radius: 0.1rem solid #aaa;
    display: flex;
    justify-content: center;
}
.navbar{
    width: 120rem;
    height:  100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}























